@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Space+Mono:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #0b0b0b;
}
/**header**/
header{
    position: sticky;
    top: 0;
    z-index: 10;
    max-width:100%;
    background: black;
    background: rgba(19, 19, 21,0.7);
    border-bottom: 2px solid rgba(255,255,255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

@media only screen and (max-width: 801px){
    .main-navigation{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background: rgb(0, 0, 0,0.8);
        transform-origin: left top;
        transform: scaleX(0);
        transition: 0.35s ease-in-out;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 30px;
    }
}

@media only screen and (max-width: 442px){
    ul {
        flex-direction: column;
        text-align: center;
    }
}

.list-inline{
    justify-content: center;
}
.main-navigation_open{
    transform: scaleX(1);
}

.logo-header{
    font-family: 'Fascinate Inline';
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    transition: .5s ease-in-out;
}
.logo-header:hover{
    color:#44f814;
}
span{
    color: #44f814;
}
.logo-header:hover span{
    color: white;
}


.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-li, .li-nav{
    font-family: 'Space Mono', monospace;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 5px;
    
}
.nav-li:hover{
    border-bottom: 2px solid #44f814;
    transition: .2s ease-in-out;
}
/**home**/

.firt-section{
    position: relative;
    background: url(../images/image/bg-first-setion.png) center 0 no-repeat #0b0b0b ;
    background-size: cover;
}
.grid-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width:801px){
    .grid-container{
        justify-content: center;
    }
}

.colum{
    padding: 0 15px 0 15px;
    width: 50%;
}

@media only screen and (max-width:801px){
    .colum{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width:801px){
    .mobile{
        max-width: 350px;
    }
}


.title{
    font-family: 'Fascinate Inline', cursive;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:801px){
    .title{
        font-size: 45px;
    }
}

/**section aboutme**/


.title-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-wrap{
    margin: 0 0 50px 0;
}

.content-wrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 30px;
}

@media only screen and (max-width: 602px){
    .first-col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 602px){
    .col{
      width: 100%;
    }
}





.content-wrap{
    gap: 50px;
}



@media only screen and (max-width: 976px){
    article img{
        max-width: 400px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 404px){
    article img{
        max-width: 300px;
    }
}



.paragraph{
    font-family: 'Space Mono', monospace;
    color: white;
    text-align: center;
}
/**section card**/
.grid-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.title{
    text-align: center;
    margin:50px 0 90px 0;
}
.card{
    position: relative;
    max-width: 350px;
}
.img-card{
    max-width: 300px;
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;     
}
.footer{
    padding: 90px 0;
    background:url(../images/image/bg-footer-min.png) center 0 no-repeat;
    background-size: cover;
}

/**section all projects**/

.container-info{
    background: red;
    max-width: 1060px;
    border-radius: 15px;
    margin-top: 30px;
}
.container-info .title-allprojects{
    background: blue;
}


/*button del menu hamburguesa */

.button-burguer{
    position: absolute;
    right: 15px;
    padding: 0;
    background: transparent;
    border: none;
    color: white;
    z-index:950;
    cursor:pointer;
    transition: .35s ease-in-out;
}
.button-burguer:hover{
    color: #44f814;
}

.close, .burguer{
    display: none;
}

@media only screen and (max-width:800px){
    .burguer{
        display: block;
    }
}

/*contact*/


.content{
    max-width: auto;
    margin: 20px;
}

.logo {
    text-align: center;
    font-size: 3em;
    margin-bottom: 50px;
    color: #fff;
}

.logo span {
    color: #44f814
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgb(68, 248, 20, 0.8);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
    color: #fff;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #44f814;
}

.contact-form form button {
    background: rgb(68, 248, 20, 0.8);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #44f814;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #000;
    color: #fff;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}