.main-header{
    position: sticky;
    top: 0;
    z-index: 10;
    max-width:100%;
    background: black;
    background: rgba(19, 19, 21,0.7);
    border-bottom: 2px solid rgba(255,255,255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    .main-navigation{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        margin-right: 50px;
        gap: 30px;
    }
    ul{
        text-decoration: none;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 30px;
        @media only screen and (max-width:451px){
            flex-direction: column;
            text-align: center;
        }
    }
    a{
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'space mono';
        color: $white;
        transition: 0.25s ease-in-out;
        &:hover{
            border-bottom: 2px solid $verde;
        }

    }
    
}

.img-about{
    @media only screen and (max-width:410px){
        max-width:300px;
    }
}


.img-card{
    max-width: 600px;
    max-height: 500px;
    @media only screen and (max-width:768px){
        max-width: 500px;
        max-height: 400px;
        @media only screen and (max-width:620px){
            max-width: 350px;
            max-height: 250px;
            @media only screen and (max-width:420px){
                max-width: 300px;
                max-height: 200px;
            }
        }
        
    }
}

