*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'Space Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Space+Mono:wght@700&display=swap');
}

